# <u>  PROJECT NAME:</u>
# <font color=blue>HOTEL RECOMMENDATION USING SENTIMENT ANALYSIS

### <u> Objectives:</u>
1.Understanding sentimental analysis of Customer reviews.
        
2.Exploring and analysing of the various aspects of the dataset and recommendation based on geo-plots.

<u></u>

### <u>Table of contents:</u>
1.Data collection and Data Description

2.Data cleaning

3.Sentiment Analysis

<u></u>

## 1.DATA COLLECTION
*	WEBSITE USED FOR THE DATA COLLECTION : tripadvisor.com
*	TOOL USED TO SCRAPE : Instant data scraper
*	CITY : New Delhi ,India
*	HOTEL TYPE : MID-RANGE
*	ROOM TYPE AND NO. OF ADULTS : 1 ROOM , 2 ADULTS
*	TOTAL NO. OF HOTELS : 23
*	COLUMNS INCLUDED : Reviewer Name , Hotel Name , Review , Review Date , Address of the Hotel

<u></u>

### IMPORTING ALL MODULES

In [1]:
import numpy as np
import pandas as pd
import nltk
from nltk.corpus import stopwords
import re
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [2]:
df=pd.read_csv("C:/Users/Vanditha Dsouza/Amans project/cleaned_hotel_review.csv")
df

,Reviewer_name,Review,Date_of_review,Hotel_name,Hotel_location
0,drdiganta,Booked a room for 3 nights from 16th October t...,Oct-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100..."
1,Kamal S,The hotel location is great. However it lacks ...,Oct-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100..."
2,OnAir68217079613,Nice room with good size for two people. A rea...,Oct-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100..."
3,Jas Sandhu,Third class air conditioning. The blower of t...,Oct-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100..."
4,Suvarna,The hotel had all elements of a boutique hotel...,Oct-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100..."
...,...,...,...,...,...
10334,alisakir765,"Great staff ,excellent rooms bathroom and perf...",Apr-16,Hotel station view,"4254-55, Tel Mandi Chowk, opposite New Delhi R..."
10335,Melon K,â€œWe stayed one night and booked this room th...,Apr-16,Hotel station view,"4254-55, Tel Mandi Chowk, opposite New Delhi R..."
10336,Kirill,Stayed in the hotel for one night. Location is...,Apr-16,Hotel station view,"4254-55, Tel Mandi Chowk, opposite New Delhi R..."
10337,Adhity I,Rate is also reasonable. There are many hotels...,Feb-16,Hotel station view,"4254-55, Tel Mandi Chowk, opposite New Delhi R..."
10338,narangyogeshwar,We went this hotel with my wife and one child....,Mar-16,Hotel station view,"4254-55, Tel Mandi Chowk, opposite New Delhi R..."

# DATA UNDERSTANDING

In [3]:
df.head(10)

,Reviewer_name,Review,Date_of_review,Hotel_name,Hotel_location
0,drdiganta,Booked a room for 3 nights from 16th October t...,Oct-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100..."
1,Kamal S,The hotel location is great. However it lacks ...,Oct-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100..."
2,OnAir68217079613,Nice room with good size for two people. A rea...,Oct-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100..."
3,Jas Sandhu,Third class air conditioning. The blower of t...,Oct-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100..."
4,Suvarna,The hotel had all elements of a boutique hotel...,Oct-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100..."
5,Roshan Jha,"We visited for office work, we stayed for some...",Sep-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100..."
6,Ranga Sai,"Very nice place to stay here, Suppotive staff,...",Sep-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100..."
7,Himanshu,Hotel website is hacked inform by hotel but ho...,Aug-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100..."
8,RajatBhattacharya,"Location was good , but totally unmanaged prop...",Jul-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100..."
9,Mohit jakhetiya,I Mohit jakhetiya 9630022044 your hotel on 9th...,Jun-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100..."

In [4]:
df.isna().sum()

Reviewer_name     0
Review            0
Date_of_review    9
Hotel_name        0
Hotel_location    0
dtype: int64

In [5]:
pd.Series(df["Hotel_name"].unique())

0                      Hotel Connaught Royale
1                               Almondz Hotel
2                                 Corus Hotel
3                            Cosy Grand Hotel
4                                Florence Inn
5     Holiday Inn New Delhi Mayur Vihar Noida
6                                  Hotel Aura
7                          Hotel Alka Classic
8                                Hotel Bright
9                            Hotel Le Seasons
10                   The Muse Sarovar Portico
11                         Treebo Tryst Amber
12                 Novotel New Delhi Aerocity
13             FabHotel Transit Delhi Airport
14                        Hotel Godwin Deluxe
15                    Sarovar Portico Naraina
16           Svelte Hotel and Personal Suites
17                             The Hans Hotel
18                             The Legend Inn
19                    The Prime Balaji Deluxe
20                               Udman Hotel
21                         OYO 551 Hotel York
22                         Hotel station view
dtype: object

In [6]:
df["Hotel_name"].value_counts()

Holiday Inn New Delhi Mayur Vihar Noida    1272
Hotel Godwin Deluxe                         869
Novotel New Delhi Aerocity                  850
Udman Hotel                                 795
The Hans Hotel                              756
The Muse Sarovar Portico                    670
Svelte Hotel and Personal Suites            580
The Prime Balaji Deluxe                     576
Treebo Tryst Amber                          462
Florence Inn                                419
Hotel Aura                                  384
Sarovar Portico Naraina                     379
Hotel Bright                                328
The Legend Inn                              324
Almondz Hotel                               284
Corus Hotel                                 282
Cosy Grand Hotel                            280
Hotel Le Seasons                            245
FabHotel Transit Delhi Airport              227
Hotel Connaught Royale                      174
Hotel Alka Classic                          114
OYO 551 Hotel York                           40
Hotel station view                           29
Name: Hotel_name, dtype: int64

In [7]:
df.info()
type(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10339 entries, 0 to 10338
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Reviewer_name   10339 non-null  object
 1   Review          10339 non-null  object
 2   Date_of_review  10330 non-null  object
 3   Hotel_name      10339 non-null  object
 4   Hotel_location  10339 non-null  object
dtypes: object(5)
memory usage: 404.0+ KB

pandas.core.frame.DataFrame

# TEXT PREPROCESSING 
### DELETING NaN ROWS

In [8]:
df1=df.dropna(axis=0)
df1

,Reviewer_name,Review,Date_of_review,Hotel_name,Hotel_location
0,drdiganta,Booked a room for 3 nights from 16th October t...,Oct-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100..."
1,Kamal S,The hotel location is great. However it lacks ...,Oct-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100..."
2,OnAir68217079613,Nice room with good size for two people. A rea...,Oct-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100..."
3,Jas Sandhu,Third class air conditioning. The blower of t...,Oct-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100..."
4,Suvarna,The hotel had all elements of a boutique hotel...,Oct-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100..."
...,...,...,...,...,...
10334,alisakir765,"Great staff ,excellent rooms bathroom and perf...",Apr-16,Hotel station view,"4254-55, Tel Mandi Chowk, opposite New Delhi R..."
10335,Melon K,â€œWe stayed one night and booked this room th...,Apr-16,Hotel station view,"4254-55, Tel Mandi Chowk, opposite New Delhi R..."
10336,Kirill,Stayed in the hotel for one night. Location is...,Apr-16,Hotel station view,"4254-55, Tel Mandi Chowk, opposite New Delhi R..."
10337,Adhity I,Rate is also reasonable. There are many hotels...,Feb-16,Hotel station view,"4254-55, Tel Mandi Chowk, opposite New Delhi R..."
10338,narangyogeshwar,We went this hotel with my wife and one child....,Mar-16,Hotel station view,"4254-55, Tel Mandi Chowk, opposite New Delhi R..."

### DELETING DUPLICATE ROWS

In [9]:
df_drop = df1.drop_duplicates()
df_drop

,Reviewer_name,Review,Date_of_review,Hotel_name,Hotel_location
0,drdiganta,Booked a room for 3 nights from 16th October t...,Oct-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100..."
1,Kamal S,The hotel location is great. However it lacks ...,Oct-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100..."
2,OnAir68217079613,Nice room with good size for two people. A rea...,Oct-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100..."
3,Jas Sandhu,Third class air conditioning. The blower of t...,Oct-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100..."
4,Suvarna,The hotel had all elements of a boutique hotel...,Oct-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100..."
...,...,...,...,...,...
10334,alisakir765,"Great staff ,excellent rooms bathroom and perf...",Apr-16,Hotel station view,"4254-55, Tel Mandi Chowk, opposite New Delhi R..."
10335,Melon K,â€œWe stayed one night and booked this room th...,Apr-16,Hotel station view,"4254-55, Tel Mandi Chowk, opposite New Delhi R..."
10336,Kirill,Stayed in the hotel for one night. Location is...,Apr-16,Hotel station view,"4254-55, Tel Mandi Chowk, opposite New Delhi R..."
10337,Adhity I,Rate is also reasonable. There are many hotels...,Feb-16,Hotel station view,"4254-55, Tel Mandi Chowk, opposite New Delhi R..."
10338,narangyogeshwar,We went this hotel with my wife and one child....,Mar-16,Hotel station view,"4254-55, Tel Mandi Chowk, opposite New Delhi R..."

### CLEANING ROWS WITH NON-ENGLISH REVIEWS

In [10]:
df_drop = df_drop[df_drop['Review'].map(lambda x: x.isascii())] 
df_drop

,Reviewer_name,Review,Date_of_review,Hotel_name,Hotel_location
0,drdiganta,Booked a room for 3 nights from 16th October t...,Oct-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100..."
1,Kamal S,The hotel location is great. However it lacks ...,Oct-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100..."
2,OnAir68217079613,Nice room with good size for two people. A rea...,Oct-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100..."
4,Suvarna,The hotel had all elements of a boutique hotel...,Oct-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100..."
5,Roshan Jha,"We visited for office work, we stayed for some...",Sep-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100..."
...,...,...,...,...,...
10332,PonyCopenhagen,I arrived late night (1am) as my train was lat...,Jul-16,Hotel station view,"4254-55, Tel Mandi Chowk, opposite New Delhi R..."
10333,Hitesh K,"I keep visiting Delhi frequently, due to busin...",May-16,Hotel station view,"4254-55, Tel Mandi Chowk, opposite New Delhi R..."
10336,Kirill,Stayed in the hotel for one night. Location is...,Apr-16,Hotel station view,"4254-55, Tel Mandi Chowk, opposite New Delhi R..."
10337,Adhity I,Rate is also reasonable. There are many hotels...,Feb-16,Hotel station view,"4254-55, Tel Mandi Chowk, opposite New Delhi R..."
10338,narangyogeshwar,We went this hotel with my wife and one child....,Mar-16,Hotel station view,"4254-55, Tel Mandi Chowk, opposite New Delhi R..."

In [11]:
def remove_numbers(text):
    pattern=r'[^A-z\s]'
    return re.sub(pattern, '',text).lower()
df_drop['Review']=df_drop.Review.apply(remove_numbers)
df_drop

C:\Users\Vanditha Dsouza\AppData\Local\Temp\ipykernel_22992\636908353.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_drop['Review']=df_drop.Review.apply(remove_numbers)

,Reviewer_name,Review,Date_of_review,Hotel_name,Hotel_location
0,drdiganta,booked a room for nights from th october to t...,Oct-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100..."
1,Kamal S,the hotel location is great however it lacks s...,Oct-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100..."
2,OnAir68217079613,nice room with good size for two people a real...,Oct-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100..."
4,Suvarna,the hotel had all elements of a boutique hotel...,Oct-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100..."
5,Roshan Jha,we visited for office work we stayed for some ...,Sep-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100..."
...,...,...,...,...,...
10332,PonyCopenhagen,i arrived late night am as my train was late c...,Jul-16,Hotel station view,"4254-55, Tel Mandi Chowk, opposite New Delhi R..."
10333,Hitesh K,i keep visiting delhi frequently due to busine...,May-16,Hotel station view,"4254-55, Tel Mandi Chowk, opposite New Delhi R..."
10336,Kirill,stayed in the hotel for one night location is ...,Apr-16,Hotel station view,"4254-55, Tel Mandi Chowk, opposite New Delhi R..."
10337,Adhity I,rate is also reasonable there are many hotels ...,Feb-16,Hotel station view,"4254-55, Tel Mandi Chowk, opposite New Delhi R..."
10338,narangyogeshwar,we went this hotel with my wife and one childw...,Mar-16,Hotel station view,"4254-55, Tel Mandi Chowk, opposite New Delhi R..."

### LEMMATIZATION ,TOKENIZATION AND REMOVAL OF STOP WORDS

In [12]:
nltk.download('all')

[nltk_data] Error loading all: <urlopen error [SSL:
[nltk_data]     CERTIFICATE_VERIFY_FAILED] certificate verify failed:
[nltk_data]     self signed certificate in certificate chain
[nltk_data]     (_ssl.c:1129)>

False

In [13]:
w_tokenizer = nltk.tokenize.WhitespaceTokenizer()
lemmatizer = nltk.stem.WordNetLemmatizer()
def lemmatize_text(text):
    return [lemmatizer.lemmatize(w) for w in w_tokenizer.tokenize(text)]
df_drop['text_lemmatized']=df_drop.Review.apply(lemmatize_text)
stop_words=stopwords.words('english')
df_drop['cleaned_review']=df_drop['text_lemmatized'].apply(lambda x:[item for item in x if item not in stop_words])
df_drop

C:\Users\Vanditha Dsouza\AppData\Local\Temp\ipykernel_22992\3057637625.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_drop['text_lemmatized']=df_drop.Review.apply(lemmatize_text)
C:\Users\Vanditha Dsouza\AppData\Local\Temp\ipykernel_22992\3057637625.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_drop['cleaned_review']=df_drop['text_lemmatized'].apply(lambda x:[item for item in x if item not in stop_words])

,Reviewer_name,Review,Date_of_review,Hotel_name,Hotel_location,text_lemmatized,cleaned_review
0,drdiganta,booked a room for nights from th october to t...,Oct-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100...","[booked, a, room, for, night, from, th, octobe...","[booked, room, night, th, october, th, october..."
1,Kamal S,the hotel location is great however it lacks s...,Oct-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100...","[the, hotel, location, is, great, however, it,...","[hotel, location, great, however, lack, basic,..."
2,OnAir68217079613,nice room with good size for two people a real...,Oct-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100...","[nice, room, with, good, size, for, two, peopl...","[nice, room, good, size, two, people, really, ..."
4,Suvarna,the hotel had all elements of a boutique hotel...,Oct-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100...","[the, hotel, had, all, element, of, a, boutiqu...","[hotel, element, boutique, hotel, two, night, ..."
5,Roshan Jha,we visited for office work we stayed for some ...,Sep-22,Hotel Connaught Royale,"106 Babar Road Connaught Place, New Delhi 1100...","[we, visited, for, office, work, we, stayed, f...","[visited, office, work, stayed, day, hotel, li..."
...,...,...,...,...,...,...,...
10332,PonyCopenhagen,i arrived late night am as my train was late c...,Jul-16,Hotel station view,"4254-55, Tel Mandi Chowk, opposite New Delhi R...","[i, arrived, late, night, am, a, my, train, wa...","[arrived, late, night, train, wa, late, check,..."
10333,Hitesh K,i keep visiting delhi frequently due to busine...,May-16,Hotel station view,"4254-55, Tel Mandi Chowk, opposite New Delhi R...","[i, keep, visiting, delhi, frequently, due, to...","[keep, visiting, delhi, frequently, due, busin..."
10336,Kirill,stayed in the hotel for one night location is ...,Apr-16,Hotel station view,"4254-55, Tel Mandi Chowk, opposite New Delhi R...","[stayed, in, the, hotel, for, one, night, loca...","[stayed, hotel, one, night, location, convenie..."
10337,Adhity I,rate is also reasonable there are many hotels ...,Feb-16,Hotel station view,"4254-55, Tel Mandi Chowk, opposite New Delhi R...","[rate, is, also, reasonable, there, are, many,...","[rate, also, reasonable, many, hotel, near, ho..."
10338,narangyogeshwar,we went this hotel with my wife and one childw...,Mar-16,Hotel station view,"4254-55, Tel Mandi Chowk, opposite New Delhi R...","[we, went, this, hotel, with, my, wife, and, o...","[went, hotel, wife, one, childwe, try, first, ..."

In [14]:
df_reviews=df_drop[["Hotel_name","cleaned_review"]]
df_reviews["cleaned_review"]=df_reviews.cleaned_review.apply(lambda x:' '.join(x))
df_reviews

C:\Users\Vanditha Dsouza\AppData\Local\Temp\ipykernel_22992\3572347322.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reviews["cleaned_review"]=df_reviews.cleaned_review.apply(lambda x:' '.join(x))

,Hotel_name,cleaned_review
0,Hotel Connaught Royale,booked room night th october th october hotel ...
1,Hotel Connaught Royale,hotel location great however lack basic servic...
2,Hotel Connaught Royale,nice room good size two people really soft com...
4,Hotel Connaught Royale,hotel element boutique hotel two night stay wa...
5,Hotel Connaught Royale,visited office work stayed day hotel like wa a...
...,...,...
10332,Hotel station view,arrived late night train wa late check wa smoo...
10333,Hotel station view,keep visiting delhi frequently due business me...
10336,Hotel station view,stayed hotel one night location convenient goi...
10337,Hotel station view,rate also reasonable many hotel near hotel spe...
10338,Hotel station view,went hotel wife one childwe try first time sta...

In [15]:
group_by= df_reviews['cleaned_review'].groupby(df_reviews['Hotel_name']).sum()
df_grouped=pd.DataFrame(group_by).reset_index()
df_grouped

,Hotel_name,cleaned_review
0,Almondz Hotel,nice hotel good room lovely restaurant really ...
1,Corus Hotel,wa pleasant stay corus however due weekend wa ...
2,Cosy Grand Hotel,good hotel facility expected star hotel servin...
3,FabHotel Transit Delhi Airport,staff rude lot hygiene issue bedsheets bad ove...
4,Florence Inn,fantastic staff location heart real delhi staf...
5,Holiday Inn New Delhi Mayur Vihar Noida,hotel clean room wa restocked daily needed vir...
6,Hotel Alka Classic,stayed two separate night hotel alka booked st...
7,Hotel Aura,would rate hotel worst hotel stay ever charge ...
8,Hotel Bright,honestly reading nice review expected decent s...
9,Hotel Connaught Royale,booked room night th october th october hotel ...
10,Hotel Godwin Deluxe,couple booked standard room bookingcom arrived...
11,Hotel Le Seasons,dear concerned writing regard recent stay prop...
12,Hotel station view,worst experience ever unprofessional rude staf...
13,Novotel New Delhi Aerocity,hotel wa generally nice comfortable concen lon...
14,OYO 551 Hotel York,old property buffet breakfast water bathroom a...
15,Sarovar Portico Naraina,stayed hotel stay wa goodstaff wa real good fo...
16,Svelte Hotel and Personal Suites,stayed property night th oct th oct room clean...
17,The Hans Hotel,wa great time han hotel amazing hospitality fo...
18,The Legend Inn,location near metro station kailash away next ...
19,The Muse Sarovar Portico,hotel serf every need traveller corporate peop...
20,The Prime Balaji Deluxe,really nice hotel price point thrown airport t...
21,Treebo Tryst Amber,ha apollo relative check heart ailment plus es...
22,Udman Hotel,excellent stay great experience manager mr ish...

# SENTIMENTAL ANALYSIS

In [16]:
def SentimentAnalyzer(text):
    sid_obj= SentimentIntensityAnalyzer()
    return(sid_obj.polarity_scores(text)) 
df_reviews["polarity_scores"]=df_reviews.cleaned_review.apply(SentimentAnalyzer)
df_reviews

C:\Users\Vanditha Dsouza\AppData\Local\Temp\ipykernel_22992\3385735259.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reviews["polarity_scores"]=df_reviews.cleaned_review.apply(SentimentAnalyzer)

,Hotel_name,cleaned_review,polarity_scores
0,Hotel Connaught Royale,booked room night th october th october hotel ...,"{'neg': 0.055, 'neu': 0.922, 'pos': 0.023, 'co..."
1,Hotel Connaught Royale,hotel location great however lack basic servic...,"{'neg': 0.077, 'neu': 0.674, 'pos': 0.249, 'co..."
2,Hotel Connaught Royale,nice room good size two people really soft com...,"{'neg': 0.054, 'neu': 0.584, 'pos': 0.362, 'co..."
4,Hotel Connaught Royale,hotel element boutique hotel two night stay wa...,"{'neg': 0.0, 'neu': 0.656, 'pos': 0.344, 'comp..."
5,Hotel Connaught Royale,visited office work stayed day hotel like wa a...,"{'neg': 0.0, 'neu': 0.653, 'pos': 0.347, 'comp..."
...,...,...,...
10332,Hotel station view,arrived late night train wa late check wa smoo...,"{'neg': 0.146, 'neu': 0.75, 'pos': 0.104, 'com..."
10333,Hotel station view,keep visiting delhi frequently due business me...,"{'neg': 0.0, 'neu': 0.683, 'pos': 0.317, 'comp..."
10336,Hotel station view,stayed hotel one night location convenient goi...,"{'neg': 0.086, 'neu': 0.864, 'pos': 0.05, 'com..."
10337,Hotel station view,rate also reasonable many hotel near hotel spe...,"{'neg': 0.0, 'neu': 0.873, 'pos': 0.127, 'comp..."
10338,Hotel station view,went hotel wife one childwe try first time sta...,"{'neg': 0.0, 'neu': 0.66, 'pos': 0.34, 'compou..."

In [17]:
def get(dict):
    return(dict.get("compound"))
def analysis(score):
    if score==0:
        return("neutral")
    elif score>=0:
        return("positive")
    else:
        return("negative")
    
df_reviews["compound"]=df_reviews.polarity_scores.apply(get)
df_reviews["emotion"]=df_reviews.compound.apply(analysis)
df_reviews

C:\Users\Vanditha Dsouza\AppData\Local\Temp\ipykernel_22992\2680782789.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reviews["compound"]=df_reviews.polarity_scores.apply(get)
C:\Users\Vanditha Dsouza\AppData\Local\Temp\ipykernel_22992\2680782789.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reviews["emotion"]=df_reviews.compound.apply(analysis)

,Hotel_name,cleaned_review,polarity_scores,compound,emotion
0,Hotel Connaught Royale,booked room night th october th october hotel ...,"{'neg': 0.055, 'neu': 0.922, 'pos': 0.023, 'co...",-0.3818,negative
1,Hotel Connaught Royale,hotel location great however lack basic servic...,"{'neg': 0.077, 'neu': 0.674, 'pos': 0.249, 'co...",0.7264,positive
2,Hotel Connaught Royale,nice room good size two people really soft com...,"{'neg': 0.054, 'neu': 0.584, 'pos': 0.362, 'co...",0.9358,positive
4,Hotel Connaught Royale,hotel element boutique hotel two night stay wa...,"{'neg': 0.0, 'neu': 0.656, 'pos': 0.344, 'comp...",0.9660,positive
5,Hotel Connaught Royale,visited office work stayed day hotel like wa a...,"{'neg': 0.0, 'neu': 0.653, 'pos': 0.347, 'comp...",0.8779,positive
...,...,...,...,...,...
10332,Hotel station view,arrived late night train wa late check wa smoo...,"{'neg': 0.146, 'neu': 0.75, 'pos': 0.104, 'com...",-0.5859,negative
10333,Hotel station view,keep visiting delhi frequently due business me...,"{'neg': 0.0, 'neu': 0.683, 'pos': 0.317, 'comp...",0.9360,positive
10336,Hotel station view,stayed hotel one night location convenient goi...,"{'neg': 0.086, 'neu': 0.864, 'pos': 0.05, 'com...",-0.2716,negative
10337,Hotel station view,rate also reasonable many hotel near hotel spe...,"{'neg': 0.0, 'neu': 0.873, 'pos': 0.127, 'comp...",0.4404,positive
10338,Hotel station view,went hotel wife one childwe try first time sta...,"{'neg': 0.0, 'neu': 0.66, 'pos': 0.34, 'compou...",0.9618,positive

In [20]:
grouped_emotion=df_reviews[["Hotel_name","emotion"]]
grouped_emotion

                   Hotel_name   emotion
0      Hotel Connaught Royale  negative
1      Hotel Connaught Royale  positive
2      Hotel Connaught Royale  positive
4      Hotel Connaught Royale  positive
5      Hotel Connaught Royale  positive
...                       ...       ...
10332      Hotel station view  negative
10333      Hotel station view  positive
10336      Hotel station view  negative
10337      Hotel station view  positive
10338      Hotel station view  positive

[9488 rows x 2 columns]

In [21]:
grouped_compound=df_reviews["compound"].groupby(df_reviews["Hotel_name"]).mean()
grouped_compound=pd.DataFrame(grouped_compound).reset_index()
grouped_compound=grouped_compound.sort_values(by="compound")
grouped_compound

                                 Hotel_name  compound
12                       Hotel station view  0.145852
14                       OYO 551 Hotel York  0.325612
3            FabHotel Transit Delhi Airport  0.501303
6                        Hotel Alka Classic  0.540197
1                               Corus Hotel  0.582375
7                                Hotel Aura  0.639593
16         Svelte Hotel and Personal Suites  0.672013
11                         Hotel Le Seasons  0.677338
0                             Almondz Hotel  0.737392
17                           The Hans Hotel  0.763410
20                  The Prime Balaji Deluxe  0.808780
9                    Hotel Connaught Royale  0.818389
4                              Florence Inn  0.831645
15                  Sarovar Portico Naraina  0.834875
8                              Hotel Bright  0.836873
10                      Hotel Godwin Deluxe  0.838912
22                             Udman Hotel   0.841211
21                       Treebo Tryst Amber  0.851721
2                          Cosy Grand Hotel  0.855146
5   Holiday Inn New Delhi Mayur Vihar Noida  0.863019
19                 The Muse Sarovar Portico  0.868382
13               Novotel New Delhi Aerocity  0.888111
18                           The Legend Inn  0.893477

In [22]:
s=pd.DataFrame(grouped_emotion.groupby('Hotel_name')['emotion'].value_counts("count"))
s.rename(columns={"emotion":"weighted_average"})

                             weighted_average
Hotel_name         emotion
Almondz Hotel      positive          0.912727
                   negative          0.083636
                   neutral           0.003636
Corus Hotel        positive          0.821293
                   negative          0.163498
...                                       ...
Treebo Tryst Amber negative          0.039720
                   neutral           0.002336
Udman Hotel        positive          0.959294
                   negative          0.039349
                   neutral           0.001357

[64 rows x 1 columns]